
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
   
  }
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
html{
  font-size: 16px;
}
  *{
    padding: 0;
    margin: 0;
   color: white;
 
  }
  .main, .header{
    background-color: black;
  }
  /*........................nav-bar style start................................. */
  .nav-bar{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  
    background: linear-gradient(180deg, rgb(20, 30, 17),rgba(119, 119, 119, 0) 100%);
  
  }
  .nav-hamburger{
    display: none;
  }
  .nav-title{
    color: rgb(230, 83, 60);
    font-size: 2.4rem;
    font-weight: 800; 
  }
  .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
  }
  .item{
    list-style: none;
    margin-right:47px ;
    font-size: 1.2rem;
font-weight: 200;
padding-top: 10px;



  }
  
  .btn{
    border-radius: 46px;
    font-size: 1.2rem;
    font-weight: 400;
background: rgb(230, 83, 60);
padding: 5px 20px 5px 20px;
border: none;

  }
  /*............................banner container start...................................*/
  .banner{
    background: linear-gradient(360deg, rgb(20, 30, 17),rgba(119, 119, 119, 0) 100%);
    padding-top: 30px;
    margin-bottom: 100px;
  }
  .banner-container{
  display: flex;
  gap: 167px;
 
  
  }
  .banner-description{
    width: 55%;
   
  }
  .banner-title{
    font-size: 4.8rem;
font-weight: 900;


  }
.banner-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;
    margin-bottom: 28px;

}
.primary-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    font-size: 1rem;
font-weight: 600;
border: none;
margin-right: 20px;
}
.secondary-btn{
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-size: 1rem;
font-weight: 600;
border: 1px solid white; 
background-color: black;
}
.img-container{
   
    position: relative;
}
.workout{

   width: 50%;
   position: absolute;
   top: 140px;
   left: 250px;
   text-align: center;
  border-radius: 12px;
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);

padding: 10px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
}
.workout-num{
    font-size: 2.5rem;
font-weight: 900; 
}
.vedio{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);   
}
.circle{
width: 20%;
height:20% ;
background-color: red;

}
.tutorial{
   
    width: 50%;
    position: absolute;
    top: 500px;
    left: -80px;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
display: flex;
gap: 10px;
backdrop-filter: blur(10px);
background: rgba(48, 48, 48, 0.54);
padding: 10px;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid red;
}
.tutorial-num{
    font-size: 1.5rem;
    font-weight: 900; 
}
.tutorial-para{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
font-weight: 400;
}
/*................................habit section .....................................*/
.habit-container{
max-width: 100%;
margin: 0 auto;
margin-left: 50px;
}
.habit-head{
  font-size: 3rem;
font-weight: 900;
}
.habit-paragraph{
  color: rgba(255, 255, 255, 0.5);
font-size: 0.8rem;
font-weight: 400;
margin-top: 14px;
}
.h5{
  font-size: 1.2rem;
font-weight: 600;
}
.habit-description{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.habits-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
}
.habit-img{
  border-radius: 50%;
 
}
.habit{
  text-align: center;
  
}
.img{
  width: 80%;
  
}
.img-des{
padding: 40px;
}
/*........................run section start.......................................*/
.run{
  margin-top: 50px;
 
}
.run-container{
  display: flex;
  max-width:85% ;
  margin: 0 auto;
  gap: 100px;

 padding: 40px;
 border-radius: 18px;

 background: rgb(34, 34, 34);

}
.run-des{
  max-width: 50% ;
 
 
}
.run-img{
 max-width: 40%;

}
.run-img img{
  border-radius: 20px;
  width:100% ;
}
.btn-deco{
  margin-top: 20px;
  width: 40%;
}
/*....................BMI....................................................*/
.BMIsection{
 margin-top: 60px;
  color: white;

}
.BMI-des{
  width: 40%;
  margin: 0 auto;
}
.chart{
  font-size: 1.6rem;
font-weight: 900;
margin-bottom: 40px;
}
.table{
 width: 60%;

  height: 60%;

}
.para2{
  margin-bottom: 20px;
}
.td{
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);

font-size: 0.8rem;
font-weight: 400;
}
.th{
  font-size: 1rem;
font-weight: 500;
}


.bmi-form-container{
  margin-top: 50px;
 padding: 40px;
 background: rgb(34, 34, 34);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
}
 .input{
  width: 40%;
  padding: 10px;
margin: 5px;

border: none;
border-radius: 8px;

background: rgba(255, 255, 255, 0.1);

 
 }
 .input::placeholder{
  color: rgba(255, 255, 255, 0.6);
 }
 .input2{
  border: none;
  width: 42.5%;
  padding: 10px;
margin: 5px;
border-radius: 8px;
color: rgba(255, 255, 255, 0.6);
background: rgba(255, 255, 255, 0.1);

 }
 .input3{
  border: none;
  border-radius: 10px;
  width: 87%;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
 }
 .btn2{
  margin-top: 20px;
  width: 30%;
 }
 .option{
  color:black ;
 }
 /*.....................program fitness....................*/
.program{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
 
}
.program-section{
  border-radius: 18px;
  background: rgb(34, 34, 34);
 margin: 10px;
 box-shadow: 2px 5px 5px 1px rgba(245, 245, 245, 0.692);
 opacity: 0.9;
 
}

.program-img{
  width: 260px;
  height:260px;
  border-radius: 60px;
 padding: 50px;
 object-fit: cover;
 
}
.program-det{
 border: 2px solid rgba(222, 184, 135, 0.233);
 border-radius: 10px;
 margin: 10px;
 padding: 5px;
  
}
.program-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 50px;
}
.offer{
  color: #FFD43B;;
}
.btn3{
  margin-top: 20px;
}
/*......................trainer section start.........................*/
.team{
  margin-top: 90px;

 
}
.trainer-img-container{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  border-radius: 18px;

  background: rgba(255, 255, 255, 0.1);
 

}
.img{
  max-width: 350px;
  min-height: 350px;
  padding: 10px;
object-fit: cover;
  border-radius: 20px;
}

.team-container{
  max-width: 85% ;
  margin: 0 auto;
 
}
.team-des{
  text-align: center;
}
.img-term{
  position: relative;
}
.name{
  position: absolute;

  top: 290px;
  left: 50px;
}
/*...............footer.................................*/
.footer-container{
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 25% 20%;
  gap: 60px;
padding: 30px;

}
.main{
  padding-bottom: 100px;
}
.footer{
  background: rgb(34, 34, 34);

}
.right{
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 30px;

}
.footer-head{
  font-size: 4rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
  padding-bottom: 20px;
}
.footer-pera{
  color: rgba(255, 255, 255, 0.5);
font-size: 0.8rem;
font-weight: 400;

}
.para{
  text-align: center;
  margin-top: 20px;
}
.footer-h4{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 20px;
}
.footer-option{
  color: rgba(255, 255, 255, 0.5);

font-size: 1.2rem;
font-weight: 400;
padding-bottom: 10px;
}




/*........................ responsive for small device..................................*/
@media screen and (max-width:570px) {
  .body{
    margin: 0 auto;
    max-width: 100%;
  
   }
   .nav-item{
    display: none;
   }
   .nav-hamburger{
    display: block;
   padding: 10px;
  
  }
  .banner-container{
   flex-direction: column;
   gap: 2px;
   max-width:100% ;
  padding: 15px;
  
  }
  .banner-description{
    width: 100%;
  }
.banner-title {
  font-size: 2.5rem;
 
}
.dancing-script-font{
  font-size: 2.5rem;
}

.banner-subtitle{
font-size: 1rem;
}
.primary-btn{
  margin-right:2px ;
  padding: 16px 20px 16px 20px;
}
.secondary-btn{
  padding: 16px 20px 16px 20px;  
}
.workout{

  top: 60px;
  left: 160px;
}
.tutorial{

  top: 220px;
  left: 20px;
}
.img-container{
  margin-top: 70px;
}
.img img{
  width: 80%;
}
.habit-container{
  margin-left: 2px;
 
}
.habit-description{
  width: 100%;
}
.banner{
  margin-bottom: 5px;

}
.habits-items{
  grid-template-columns: repeat(1, 1fr);
}
.habit-head{
  font-size: 2rem;
  padding: 5px;
}
.habit-paragraph{
 padding-left: 20px;
 padding-right: 20px;
}
.img{
 
  width: 100%;
  margin-bottom: 10px;
}
.img-des{
  padding-left: 80px;

}
.run-container{
  flex-direction: column;
  gap: 30px;
}
.run-des , .run-img{
  max-width: 100%;
}
.run-pera{
  padding-left: 2px;
}
.btn-deco{
  width: 100%;
}
.bmi-form-container {
  grid-template-columns: repeat(1,1fr);
}
.input{
  margin: 1px;

}
.btn2{
  width: 60%;
}
.BMI-des {
  width: 100%;

}
.habit-head{
padding-left: 15px;
}
.chart{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.4rem;
}
.bmi-form-container {
  padding: 15px;
}
.para2{
  padding-left: 5px;
}
.table{
  width: 100%;
}
.program{
  width: 100%;
}
.program-container{
  grid-template-columns: repeat(1,1fr);
}
.program-section{
 width: 80%;
 margin: 0 auto;
 margin-bottom: 30px;

}
.program-img{
  padding: 20px;

}
.btn3{
  width: 60%;
  margin-bottom: 20px;
 margin-left: 20px;
} 
.habit-paragraph{
  padding: none;}
  .trainer-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  
  .img{
    width: 92%;
   
  }
  .footer-container{
    grid-template-columns: repeat(1,1fr);
  }
  .para{
    text-align: left;
  }

}